In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
train_data = pd.read_csv('/home/nikhila/assignment1/titanic_train.csv')

In [3]:
test_data = pd.read_csv('/home/nikhila/assignment1/titanic_test.csv')

In [4]:
train_data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [5]:
type(train_data)

pandas.core.frame.DataFrame

In [6]:
X_train = train_data.drop(['Survived'],axis = 1)

In [7]:
X_train.shape

(891, 11)

In [8]:
Y_train = train_data.Survived

In [9]:
Y_train.shape

(891,)

In [10]:
X_train = X_train.drop(['PassengerId','Name','Ticket'],axis = True)

In [11]:
X_train

     Pclass     Sex   Age  SibSp  Parch      Fare        Cabin Embarked
0         3    male  22.0      1      0    7.2500          NaN        S
1         1  female  38.0      1      0   71.2833          C85        C
2         3  female  26.0      0      0    7.9250          NaN        S
3         1  female  35.0      1      0   53.1000         C123        S
4         3    male  35.0      0      0    8.0500          NaN        S
5         3    male   NaN      0      0    8.4583          NaN        Q
6         1    male  54.0      0      0   51.8625          E46        S
7         3    male   2.0      3      1   21.0750          NaN        S
8         3  female  27.0      0      2   11.1333          NaN        S
9         2  female  14.0      1      0   30.0708          NaN        C
10        3  female   4.0      1      1   16.7000           G6        S
11        1  female  58.0      0      0   26.5500         C103        S
12        3    male  20.0      0      0    8.0500          NaN        S
13        3    male  39.0      1      5   31.2750          NaN        S
14        3  female  14.0      0      0    7.8542          NaN        S
15        2  female  55.0      0      0   16.0000          NaN        S
16        3    male   2.0      4      1   29.1250          NaN        Q
17        2    male   NaN      0      0   13.0000          NaN        S
18        3  female  31.0      1      0   18.0000          NaN        S
19        3  female   NaN      0      0    7.2250          NaN        C
20        2    male  35.0      0      0   26.0000          NaN        S
21        2    male  34.0      0      0   13.0000          D56        S
22        3  female  15.0      0      0    8.0292          NaN        Q
23        1    male  28.0      0      0   35.5000           A6        S
24        3  female   8.0      3      1   21.0750          NaN        S
25        3  female  38.0      1      5   31.3875          NaN        S
26        3    male   NaN      0      0    7.2250          NaN        C
27        1    male  19.0      3      2  263.0000  C23 C25 C27        S
28        3  female   NaN      0      0    7.8792          NaN        Q
29        3    male   NaN      0      0    7.8958          NaN        S
..      ...     ...   ...    ...    ...       ...          ...      ...
861       2    male  21.0      1      0   11.5000          NaN        S
862       1  female  48.0      0      0   25.9292          D17        S
863       3  female   NaN      8      2   69.5500          NaN        S
864       2    male  24.0      0      0   13.0000          NaN        S
865       2  female  42.0      0      0   13.0000          NaN        S
866       2  female  27.0      1      0   13.8583          NaN        C
867       1    male  31.0      0      0   50.4958          A24        S
868       3    male   NaN      0      0    9.5000          NaN        S
869       3    male   4.0      1      1   11.1333          NaN        S
870       3    male  26.0      0      0    7.8958          NaN        S
871       1  female  47.0      1      1   52.5542          D35        S
872       1    male  33.0      0      0    5.0000  B51 B53 B55        S
873       3    male  47.0      0      0    9.0000          NaN        S
874       2  female  28.0      1      0   24.0000          NaN        C
875       3  female  15.0      0      0    7.2250          NaN        C
876       3    male  20.0      0      0    9.8458          NaN        S
877       3    male  19.0      0      0    7.8958          NaN        S
878       3    male   NaN      0      0    7.8958          NaN        S
879       1  female  56.0      0      1   83.1583          C50        C
880       2  female  25.0      0      1   26.0000          NaN        S
881       3    male  33.0      0      0    7.8958          NaN        S
882       3  female  22.0      0      0   10.5167          NaN        S
883       2    male  28.0      0      0   10.5000          NaN        S
884       3    male  25.0      0      0    7.0500          NaN        S
885       3  female  39.0      0      5   29.1250          NaN        Q
886       2    male  27.0      0      0   13.0000          NaN        S
887       1  female  19.0      0      0   30.0000          B42        S
888       3  female   NaN      1      2   23.4500          NaN        S
889       1    male  26.0      0      0   30.0000         C148        C
890       3    male  32.0      0      0    7.7500          NaN        Q

[891 rows x 8 columns]

In [12]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
Pclass      891 non-null int64
Sex         891 non-null object
Age         714 non-null float64
SibSp       891 non-null int64
Parch       891 non-null int64
Fare        891 non-null float64
Cabin       204 non-null object
Embarked    889 non-null object
dtypes: float64(2), int64(3), object(3)
memory usage: 55.8+ KB

In [13]:
np.mean(X_train.Age)

29.69911764705882

In [14]:
X_train.Age.fillna(np.mean(X_train.Age), inplace = True)

In [15]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
Pclass      891 non-null int64
Sex         891 non-null object
Age         891 non-null float64
SibSp       891 non-null int64
Parch       891 non-null int64
Fare        891 non-null float64
Cabin       204 non-null object
Embarked    889 non-null object
dtypes: float64(2), int64(3), object(3)
memory usage: 55.8+ KB

In [16]:
X_train.Cabin.fillna('N',inplace=True)

In [17]:
type(X_train.Cabin[1])

str

In [18]:
(X_train.Cabin[1])[0]

'C'

In [19]:
X_train.shape[0]

891

In [20]:
X_train.Cabin[890]

'N'

In [21]:
for i in range(X_train.shape[0]) :
    X_train.Cabin[i] = (X_train.Cabin[i])[0]

/home/nikhila/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [22]:
#df = pd.get_dummies(df, prefix=['col1', 'col2']),'Sex','Sibsp','Parch','Cabin','Embarked'])

In [23]:
X_train = pd.get_dummies(X_train, columns = ['Pclass'])

In [24]:
X_train = pd.get_dummies(X_train, columns = ['Sex'])
X_train = pd.get_dummies(X_train, columns = ['SibSp'])
X_train = pd.get_dummies(X_train, columns = ['Parch'])
X_train = pd.get_dummies(X_train, columns = ['Cabin'])

In [25]:
X_train.Embarked.fillna('N',inplace=True)

In [26]:
X_train = pd.get_dummies(X_train, columns = ['Embarked'])

In [27]:
X_train

,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,SibSp_0,SibSp_1,SibSp_2,...,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_N,Cabin_T,Embarked_C,Embarked_N,Embarked_Q,Embarked_S
0,22.000000,7.2500,0,0,1,0,1,0,1,0,...,0,0,0,0,1,0,0,0,0,1
1,38.000000,71.2833,1,0,0,1,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
2,26.000000,7.9250,0,0,1,1,0,1,0,0,...,0,0,0,0,1,0,0,0,0,1
3,35.000000,53.1000,1,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
4,35.000000,8.0500,0,0,1,0,1,1,0,0,...,0,0,0,0,1,0,0,0,0,1
5,29.699118,8.4583,0,0,1,0,1,1,0,0,...,0,0,0,0,1,0,0,0,1,0
6,54.000000,51.8625,1,0,0,0,1,1,0,0,...,0,1,0,0,0,0,0,0,0,1
7,2.000000,21.0750,0,0,1,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,1
8,27.000000,11.1333,0,0,1,1,0,1,0,0,...,0,0,0,0,1,0,0,0,0,1
9,14.000000,30.0708,0,1,0,1,0,0,1,0,...,0,0,0,0,1,0,1,0,0,0
10,4.000000,16.7000,0,0,1,1,0,0,1,0,...,0,0,0,1,0,0,0,0,0,1
11,58.000000,26.5500,1,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
12,20.000000,8.0500,0,0,1,0,1,1,0,0,...,0,0,0,0,1,0,0,0,0,1
13,39.000000,31.2750,0,0,1,0,1,0,1,0,...,0,0,0,0,1,0,0,0,0,1
14,14.000000,7.8542,0,0,1,1,0,1,0,0,...,0,0,0,0,1,0,0,0,0,1
15,55.000000,16.0000,0,1,0,1,0,1,0,0,...,0,0,0,0,1,0,0,0,0,1
16,2.000000,29.1250,0,0,1,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
17,29.699118,13.0000,0,1,0,0,1,1,0,0,...,0,0,0,0,1,0,0,0,0,1
18,31.000000,18.0000,0,0,1,1,0,0,1,0,...,0,0,0,0,1,0,0,0,0,1
19,29.699118,7.2250,0,0,1,1,0,1,0,0,...,0,0,0,0,1,0,1,0,0,0
20,35.000000,26.0000,0,1,0,0,1,1,0,0,...,0,0,0,0,1,0,0,0,0,1
21,34.000000,13.0000,0,1,0,0,1,1,0,0,...,1,0,0,0,0,0,0,0,0,1
22,15.000000,8.0292,0,0,1,1,0,1,0,0,...,0,0,0,0,1,0,0,0,1,0
23,28.000000,35.5000,1,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,1
24,8.000000,21.0750,0,0,1,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
25,38.000000,31.3875,0,0,1,1,0,0,1,0,...,0,0,0,0,1,0,0,0,0,1
26,29.699118,7.2250,0,0,1,0,1,1,0,0,...,0,0,0,0,1,0,1,0,0,0
27,19.000000,263.0000,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
28,29.699118,7.8792,0,0,1,1,0,1,0,0,...,0,0,0,0,1,0,0,0,1,0
29,29.699118,7.8958,0,0,1,0,1,1,0,0,...,0,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,21.000000,11.5000,0,1,0,0,1,0,1,0,...,0,0,0,0,1,0,0,0,0,1
862,48.000000,25.9292,1,0,0,1,0,1,0,0,...,1,0,0,0,0,0,0,0,0,1
863,29.699118,69.5500,0,0,1,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
864,24.000000,13.0000,0,1,0,0,1,1,0,0,...,0,0,0,0,1,0,0,0,0,1
865,42.000000,13.0000,0,1,0,1,0,1,0,0,...,0,0,0,0,1,0,0,0,0,1
866,27.000000,13.8583,0,1,0,1,0,0,1,0,...,0,0,0,0,1,0,1,0,0,0
867,31.000000,50.4958,1,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,1
868,29.699118,9.5000,0,0,1,0,1,1,0,0,...,0,0,0,0,1,0,0,0,0,1
869,4.000000,11.1333,0,0,1,0,1,0,1,0,...,0,0,0,0,1,0,0,0,0,1
870,26.000000,7.8958,0,0,1,0,1,1,0,0,...,0,0,0,0,1,0,0,0,0,1
871,47.000000,52.5542,1,0,0,1,0,0,1,0,...,1,0,0,0,0,0,0,0,0,1
872,33.000000,5.0000,1,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,1
873,47.000000,9.0000,0,0,1,0,1,1,0,0,...,0,0,0,0,1,0,0,0,0,1
874,28.000000,24.0000,0,1,0,1,0,0,1,0,...,0,0,0,0,1,0,1,0,0,0
875,15.000000,7.2250,0,0,1,1,0,1,0,0,...,0,0,0,0,1,0,1,0,0,0
876,20.000000,9.8458,0,0,1,0,1,1,0,0,...,0,0,0,0,1,0,0,0,0,1
877,19.000000,7.8958,0,0,1,0,1,1,0,0,...,0,0,0,0,1,0,0,0,0,1
878,29.699118,7.8958,0,0,1,0,1,1,0,0,...,0,0,0,0,1,0,0,0,0,1
879,56.000000,83.1583,1,0,0,1,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
880,25.000000,26.0000,0,1,0,1,0,1,0,0,...,0,0,0,0,1,0,0,0,0,1
881,33.000000,7.8958,0,0,1,0,1,1,0,0,...,0,0,0,0,1,0,0,0,0,1
882,22.000000,10.5167,0,0,1,1,0,1,0,0,...,0,0,0,0,1,0,0,0,0,1
883,28.000000,10.5000,0,1,0,0,1,1,0,0,...,0,0,0,0,1,0,0,0,0,1
884,25.000000,7.0500,0,0,1,0,1,1,0,0,...,0,0,0,0,1,0,0,0,0,1
885,39.000000,29.1250,0,0,1,1,0,1,0,0,...,0,0,0,0,1,0,0,0,1,0
886,27.000000,13.0000,0,1,0,0,1,1,0,0,...,0,0,0,0,1,0,0,0,0,1
887,19.000000,30.0000,1,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
888,29.699118,23.4500,0,0,1,1,0,0,1,0,...,0,0,0,0,1,0,0,0,0,1
889,26.000000,30.0000,1,0,0,0,1,1,0,0,...,0,0,0,0,0,0,1,0,0,0
890,32.000000,7.7500,0,0,1,0,1,1,0,0,...,0,0,0,0,1,0,0,0,1,0

Normalising Age column and Fare Column

In [28]:
for i in range(X_train.shape[0]):
    X_train.Age[i] = (X_train.Age[i] - np.mean(X_train.Age))/(np.std(X_train.Age))
    X_train.Fare[i] = (X_train.Fare[i] - np.mean(X_train.Fare))/(np.std(X_train.Fare))

/home/nikhila/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/nikhila/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [29]:
X_train

,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,SibSp_0,SibSp_1,SibSp_2,...,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_N,Cabin_T,Embarked_C,Embarked_N,Embarked_Q,Embarked_S
0,-0.592481,-0.502445,0,0,1,0,1,0,1,0,...,0,0,0,0,1,0,0,0,0,1
1,0.638922,0.786940,1,0,0,1,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
2,-0.277983,-0.487097,0,0,1,1,0,1,0,0,...,0,0,0,0,1,0,0,0,0,1
3,0.411951,0.422652,1,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
4,0.413804,-0.483086,0,0,1,0,1,1,0,0,...,0,0,0,0,1,0,0,0,0,1
5,0.013241,-0.474622,0,0,1,0,1,1,0,0,...,0,0,0,0,1,0,0,0,1,0
6,1.855342,0.399183,1,0,0,0,1,1,0,0,...,0,1,0,0,0,0,0,0,0,1
7,-2.075644,-0.219251,0,0,1,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,1
8,-0.183589,-0.418741,0,0,1,1,0,1,0,0,...,0,0,0,0,1,0,0,0,0,1
9,-1.160903,-0.037472,0,1,0,1,0,0,1,0,...,0,0,0,0,1,0,1,0,0,0
10,-1.909326,-0.305691,0,0,1,1,0,0,1,0,...,0,0,0,1,0,0,0,0,0,1
11,2.151160,-0.107189,1,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
12,-0.699913,-0.478474,0,0,1,0,1,1,0,0,...,0,0,0,0,1,0,0,0,0,1
13,0.728129,-0.011382,0,0,1,0,1,0,1,0,...,0,0,0,0,1,0,0,0,0,1
14,-1.140409,-0.481349,0,0,1,1,0,1,0,0,...,0,0,0,0,1,0,0,0,0,1
15,1.923665,-0.317426,0,1,0,1,0,1,0,0,...,0,0,0,0,1,0,0,0,0,1
16,-2.027443,-0.053310,0,0,1,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
17,0.039890,-0.376530,0,1,0,0,1,1,0,0,...,0,0,0,0,1,0,0,0,0,1
18,0.139012,-0.275755,0,0,1,1,0,0,1,0,...,0,0,0,0,1,0,0,0,0,1
19,0.044721,-0.491646,0,0,1,1,0,1,0,0,...,0,0,0,0,1,0,1,0,0,0
20,0.439273,-0.114471,0,1,0,0,1,1,0,0,...,0,0,0,0,1,0,0,0,0,1
21,0.367272,-0.374805,0,1,0,0,1,1,0,0,...,1,0,0,0,0,0,0,0,0,1
22,-1.029858,-0.474209,0,0,1,1,0,1,0,0,...,0,0,0,0,1,0,0,0,1,0
23,-0.071157,0.077308,1,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,1
24,-1.534438,-0.211324,0,0,1,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
25,0.664023,-0.003942,0,0,1,1,0,0,1,0,...,0,0,0,0,1,0,0,0,0,1
26,0.059498,-0.487804,0,0,1,0,1,1,0,0,...,0,0,0,0,1,0,1,0,0,0
27,-0.717584,4.641386,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
28,0.063240,-0.474349,0,0,1,1,0,1,0,0,...,0,0,0,0,1,0,0,0,1,0
29,0.065498,-0.473771,0,0,1,0,1,1,0,0,...,0,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,3.374533,1.875652,0,1,0,0,1,0,1,0,...,0,0,0,0,1,0,0,0,0,1
862,8.228834,4.551548,1,0,0,1,0,1,0,0,...,1,0,0,0,0,0,0,0,0,1
863,5.159986,12.775166,0,0,1,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
864,4.167412,2.427278,0,1,0,0,1,1,0,0,...,0,0,0,0,1,0,0,0,0,1
865,7.643009,2.437727,0,1,0,1,0,1,0,0,...,0,0,0,0,1,0,0,0,0,1
866,4.953403,2.626698,0,1,0,1,0,0,1,0,...,0,0,0,0,1,0,1,0,0,0
867,5.825979,10.284605,1,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,1
868,5.679015,1.848737,0,0,1,0,1,1,0,0,...,0,0,0,0,1,0,0,0,0,1
869,0.460521,2.217117,0,0,1,0,1,0,1,0,...,0,0,0,0,1,0,0,0,0,1
870,5.022599,1.504046,0,0,1,0,1,1,0,0,...,0,0,0,0,1,0,0,0,0,1
871,9.514691,11.470949,1,0,0,1,0,0,1,0,...,1,0,0,0,0,0,0,0,0,1
872,6.930570,0.941065,1,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,1
873,10.311952,1.906440,0,0,1,0,1,1,0,0,...,0,0,0,0,1,0,0,0,0,1
874,6.376333,5.533831,0,1,0,1,0,0,1,0,...,0,0,0,0,1,0,1,0,0,0
875,3.311750,1.513935,0,0,1,1,0,1,0,0,...,0,0,0,0,1,0,1,0,0,0
876,4.579888,2.161785,0,0,1,0,1,1,0,0,...,0,0,0,0,1,0,0,0,0,1
877,4.385877,1.688860,0,0,1,0,1,1,0,0,...,0,0,0,0,1,0,0,0,0,1
878,7.160105,1.693268,0,0,1,0,1,1,0,0,...,0,0,0,0,1,0,0,0,0,1
879,14.260645,20.308434,1,0,0,1,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
880,6.951199,8.257242,0,1,0,1,0,1,0,0,...,0,0,0,0,1,0,0,0,0,1
881,9.572061,2.378645,0,0,1,0,1,1,0,0,...,0,0,0,0,1,0,0,0,0,1
882,6.563445,3.287006,0,0,1,1,0,1,0,0,...,0,0,0,0,1,0,0,0,0,1
883,8.684562,3.302946,0,1,0,0,1,1,0,0,...,0,0,0,0,1,0,0,0,0,1
884,8.032275,2.127844,0,0,1,0,1,1,0,0,...,0,0,0,0,1,0,0,0,0,1
885,13.255664,9.813204,0,0,1,1,0,1,0,0,...,0,0,0,0,1,0,0,0,1,0
886,9.964927,4.433466,0,1,0,0,1,1,0,0,...,0,0,0,0,1,0,0,0,0,1
887,7.229985,10.770033,1,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
888,11.931719,8.882905,0,0,1,1,0,0,1,0,...,0,0,0,0,1,0,0,0,0,1
889,11.181704,11.936242,1,0,0,0,1,1,0,0,...,0,0,0,0,0,0,1,0,0,0
890,14.807127,3.052484,0,0,1,0,1,1,0,0,...,0,0,0,0,1,0,0,0,1,0

In [30]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 34 columns):
Age           891 non-null float64
Fare          891 non-null float64
Pclass_1      891 non-null uint8
Pclass_2      891 non-null uint8
Pclass_3      891 non-null uint8
Sex_female    891 non-null uint8
Sex_male      891 non-null uint8
SibSp_0       891 non-null uint8
SibSp_1       891 non-null uint8
SibSp_2       891 non-null uint8
SibSp_3       891 non-null uint8
SibSp_4       891 non-null uint8
SibSp_5       891 non-null uint8
SibSp_8       891 non-null uint8
Parch_0       891 non-null uint8
Parch_1       891 non-null uint8
Parch_2       891 non-null uint8
Parch_3       891 non-null uint8
Parch_4       891 non-null uint8
Parch_5       891 non-null uint8
Parch_6       891 non-null uint8
Cabin_A       891 non-null uint8
Cabin_B       891 non-null uint8
Cabin_C       891 non-null uint8
Cabin_D       891 non-null uint8
Cabin_E       891 non-null uint8
Cabin_F       891 non-null uint8
Cabin_G       891 non-null uint8
Cabin_N       891 non-null uint8
Cabin_T       891 non-null uint8
Embarked_C    891 non-null uint8
Embarked_N    891 non-null uint8
Embarked_Q    891 non-null uint8
Embarked_S    891 non-null uint8
dtypes: float64(2), uint8(32)
memory usage: 41.8 KB

In [31]:
theta = np.zeros(X_train.shape[1])

In [32]:
theta.shape

(34,)

In [33]:
Z = (X_train.dot(theta.T))

In [34]:
Z

0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
5      0.0
6      0.0
7      0.0
8      0.0
9      0.0
10     0.0
11     0.0
12     0.0
13     0.0
14     0.0
15     0.0
16     0.0
17     0.0
18     0.0
19     0.0
20     0.0
21     0.0
22     0.0
23     0.0
24     0.0
25     0.0
26     0.0
27     0.0
28     0.0
29     0.0
      ...
861    0.0
862    0.0
863    0.0
864    0.0
865    0.0
866    0.0
867    0.0
868    0.0
869    0.0
870    0.0
871    0.0
872    0.0
873    0.0
874    0.0
875    0.0
876    0.0
877    0.0
878    0.0
879    0.0
880    0.0
881    0.0
882    0.0
883    0.0
884    0.0
885    0.0
886    0.0
887    0.0
888    0.0
889    0.0
890    0.0
Length: 891, dtype: float64

In [35]:
h_theta = 1/(1 + np.exp(-(X_train.dot(theta.T))))

In [36]:
m = X_train.shape[0]

In [37]:
iters = 1000

In [38]:
alpha = 0.1

In [39]:
#cost = np.zeros(iters)

In [40]:
h_theta

0      0.5
1      0.5
2      0.5
3      0.5
4      0.5
5      0.5
6      0.5
7      0.5
8      0.5
9      0.5
10     0.5
11     0.5
12     0.5
13     0.5
14     0.5
15     0.5
16     0.5
17     0.5
18     0.5
19     0.5
20     0.5
21     0.5
22     0.5
23     0.5
24     0.5
25     0.5
26     0.5
27     0.5
28     0.5
29     0.5
      ...
861    0.5
862    0.5
863    0.5
864    0.5
865    0.5
866    0.5
867    0.5
868    0.5
869    0.5
870    0.5
871    0.5
872    0.5
873    0.5
874    0.5
875    0.5
876    0.5
877    0.5
878    0.5
879    0.5
880    0.5
881    0.5
882    0.5
883    0.5
884    0.5
885    0.5
886    0.5
887    0.5
888    0.5
889    0.5
890    0.5
Length: 891, dtype: float64

In [41]:
cost = -(1/m) * (Y_train.dot(np.log(h_theta)) + ((np.ones(X_train.shape[0])) - Y_train).dot(np.log((np.ones(X_train.shape[0]) - h_theta) )))

In [42]:
Y_train = Y_train.astype(np.float64)

In [43]:
Y_train.dtypes

dtype('float64')

In [44]:
for i in range(iters):
    theta = theta - ((alpha) * (h_theta - Y_train).dot(X_train))
    h_theta = 1/(1 + np.exp(-(X_train.dot(theta.T))))    
    cost[i] = -(1/m) * (Y_train.dot(np.log(h_theta)) + ((np.ones(X_train.shape[0])) - Y_train).dot(np.log((np.ones(X_train.shape[0]) - h_theta) )))

/home/nikhila/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: RuntimeWarning: divide by zero encountered in log
  after removing the cwd from sys.path.

TypeError: 'numpy.float64' object does not support item assignment

In [ ]:
cost